<div class="container-fluid">

<div class="container">
    <img src="../../../assets/image/Home.JPG">


</div>

<app-count-down> </app-count-down>

<div class="container" >

    <p class="texto"> Nos conhecemos há 2 anos e 7 meses em uma missão da Comunidade Católica Filhos da Misericórdia. Dali começamos a conversar, conhecendo mais um ao outro, e fomos percebendo as qualidades que nos agradavam e que a companhia um do outro era muito agradável.  
    <br>  <br>Então no dia 10/11/2018 ele me pediu em namoro, e a partir desse dia começamos a construir nossa história juntos, e sempre tendo o olhar voltado para o que mais importa. Desde o início já sabíamos o propósito do namoro que era o casamento, e que bom que Deus nos deu a sabedoria de caminharmos até aqui, conhecer os defeitos, as qualidades, as fraquezas e a fortaleza de cada um. 
    <br>  <br>Enfim, com muita alegria que estamos há alguns passos desse sacramento tão belo e tão importante, e queremos contar com as orações de cada um de vocês que são tão especiais para nós.</p>



</div>















</div>

<footer class="rodape">

    <p class="texto-rodape">
        Copyright © 2021 | Fernando Gontijo 
    </p>




</footer>